.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 85px;
    height: 85px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

.full-logo-img {
    width: 121px;
    height: auto;
    max-height: 35px;
}

@media only screen and (max-width: 800px) {

    .header {
        min-height: 65px;
        height: 65px;
    }

    .header-row{
        width: 92%;
    }

    .full-logo-img {
        width: 105px;
        max-height: 28px;
    }
}