.hero-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 0;
}

.hero-title {
    font-size: 260%;
    font-weight: 600;
    margin: 0;
    text-align: center;
    color: var(--black);
}

.title-gradient {
    background: var(--gradientText);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hero-subtitle {
    color: gray;
    font-size: 105%;
    font-weight: 400;
    margin: 1.5% 0 3.5% 0;
    text-align: center;
}

/* dropdowns */

.filter-dropdown-option {
    display: flex;
    font-size: 95%;
    padding: 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.3s;
}

.filter-dropdown-option-selected,
.filter-dropdown-option:hover, .filter-search-input-suggestion-option:hover {
    background-color: #e7e7ea;
}

/* listings */

.sections-holder {
    margin: 3% auto;
}

.section-holder {
    margin-bottom: 6%;
}

.section-title {
    display: flex;
    align-items: baseline;
    font-size: 150%;
    font-weight: 600;
    margin: 0;
}

.section-subtitle {
    display: flex;
    align-items: center;
    margin: 4px 0 8px 0;
    font-size: 92%;
    font-weight: 400;
    color: gray;
}

.profile-listing-video {
    cursor: auto;
}

.profile-listing-img {
    cursor: pointer;
}

.profile-listing-img-holder button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    cursor: pointer;
}

.profile-listing-img-holder button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 25px 0 25px 25px;
    border-color: transparent transparent transparent #ffffff;
}

/* listings end */

.fa-spinner.loading {
    animation: spin 1s infinite linear;
    color: #007bff;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.loading {
    animation: blinking 1s infinite;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.logo-img {
    width: 150px;
}

@media only screen and (max-width: 1000px) {

    .section-holder {
        margin-bottom: 11%;
    }
}

@media only screen and (max-width: 800px) {

    .hero-holder {
        margin: 4% 0 0 0;
    }

    .hero-title {
        font-size: 215%;
    }

    .hero-subtitle {
        font-size: 95%;
        margin: 3% 0 7% 0;
        line-height: 1.4;
    }

    .sections-holder {
        margin: 10% auto;
    }

    .logo-img {
        width: 130px;
        flex: 0 30%;
    }
}

@media only screen and (max-width: 800px) {
    .header {
        min-height: 65px;
        height: 65px;
    }


    .full-logo-img {
        width: 105px;
        max-height: 28px;
    }
}